NODE_ENV=development # or production
PORT=5003 # your port to development

MONGO_URI=mongodb://localhost:27017/signature-service

REDIS_HOST=redis # it is an exemple
REDIS_PORT=6379 # it is an exemple of your port that will run your redis application
REDIS_PASSWORD= #it is optional

SIGNATURE_SESSION_TTL=30 # TLL default in minutes
